*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calender{
    background-color: black;
    color: lightgray;
    width: 450px;
    height: 520px;
    border-radius: 10px;

}

.month{
    width: 100%;
    height: 120px;
    background-color: rgb(0, 179, 255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.month h1{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.month p{
    font-size: 16px;
}

.weekdays{
    width: 100%;
    height: 50px;
    display: flex;
}

.weekdays div{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.days div{
    font-size: 14px;
    margin: 3px;
    width: 57.5px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days :hover{
    cursor: pointer;
}

.today{
    background-color: lightseagreen;
}